**/*.pyc
**/__pycache__
**/.pytest_cache
.vscode
example-connection-settings.txt


compose/pihole/*
!compose/pihole/.gitkeep
!compose/pihole/download-blocklists.sh


compose/appdaemon/*
!compose/appdaemon/apps
!compose/appdaemon/appdaemon.yaml


compose/homeassistant/*
!compose/homeassistant/custom_components
!compose/homeassistant/www
!compose/homeassistant/configuration.yaml
!compose/homeassistant/ui-lovelace.yaml
!compose/homeassistant/.storage
